@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .markdown h1 {
    @apply text-4xl font-bold;
  }
  .markdown h2 {
    @apply text-3xl font-bold;
  }
  .markdown h3 {
    @apply text-2xl font-bold;
  }
  .markdown h4 {
    @apply text-xl font-bold;
  }
  .markdown h5 {
    @apply text-lg font-bold;
  }

  .markdown img {
    @apply inline-block;
  }

  .markdown li {
    @apply list-disc ml-10;
  }

  .markdown p {
    @apply mx-4;
  }
}

@layer components {
  .button-view-on-github::after {
    @apply absolute z-30 -top-5 -left-4 -rotate-45;
  }

  .button-view-demo::after {
    @apply absolute z-30 -top-5 -left-4 -rotate-[30deg];
  }

  .contactDiamondCube::before {
    @apply absolute z-30 -top-5 -left-4 -rotate-45;
  }
}

:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: theme('colors.backgroundDawn');
}

